In [1]:
import pandas as pd
import numpy as np

In [3]:
df_water = pd.read_csv('water_potability (1).csv')

In [4]:
df_water.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [5]:
df_clean = df_water.fillna(df_water.mean())

In [6]:
df_clean.isna().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Potability         0
dtype: int64

In [8]:
df_clean[df_clean['ph'] >= 12][['ph', 'Hardness', 'Solids']]

             ph    Hardness        Solids
263   13.175402   47.432000  19237.949676
1303  12.246928  217.368014  11318.140563
2075  14.000000  235.677458  24008.992040
2868  13.541240  187.606792  13475.912773
2895  13.349889  152.776455  18464.900775

In [13]:
df_clean[df_clean['ph'] >= 12].loc[:, ['ph', 'Hardness', 'Solids']]

             ph    Hardness        Solids
263   13.175402   47.432000  19237.949676
1303  12.246928  217.368014  11318.140563
2075  14.000000  235.677458  24008.992040
2868  13.541240  187.606792  13475.912773
2895  13.349889  152.776455  18464.900775

In [14]:
df_clean[(df_clean['ph'] >= 12) & (df_clean['Potability'] == 1)]

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
263,13.175402,47.432,19237.949676,8.90702,375.147315,500.245952,12.083896,66.396293,4.106924,1

In [17]:
i = df_clean[(df_clean['ph'] >= 12) & (df_clean['Potability'] == 1)].index

In [18]:
df_clean = df_clean.drop(i)

In [20]:
df_clean.loc[260:265]

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
260,4.997771,280.082411,26849.194735,6.130757,374.232961,297.611540,15.571571,70.560275,3.404633,1
261,4.815767,217.687093,16392.135069,7.461170,278.742296,481.480828,15.517296,77.693374,4.375224,1
262,6.548021,278.585105,25508.386949,6.749378,366.871502,497.321753,16.563167,79.323678,3.611860,1
264,6.618011,233.661636,19598.860740,4.701049,432.556385,401.669791,11.766146,73.191921,4.437696,1
265,7.788055,212.691457,29879.060146,6.998962,360.668259,359.569082,14.828743,83.856336,3.368757,1

In [21]:
df_clean[~(df_clean['ph'] >= 12)]

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.080795,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,333.775777,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,333.775777,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,333.775777,392.449580,19.903225,66.396293,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,333.775777,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,333.775777,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,333.775777,327.459760,16.140368,78.698446,2.309149,1

In [22]:
df_clean[df_clean['ph'] != 12]

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.080795,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,333.775777,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,333.775777,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,333.775777,392.449580,19.903225,66.396293,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,333.775777,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,333.775777,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,333.775777,327.459760,16.140368,78.698446,2.309149,1

In [23]:
# Create dataframe
data = {'Company':['GOOGLE','GOOGLE','MICROSOFT','MICROSOFT','META','META'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)

In [24]:
df

     Company   Person  Sales
0     GOOGLE      Sam    200
1     GOOGLE  Charlie    120
2  MICROSOFT      Amy    340
3  MICROSOFT  Vanessa    124
4       META     Carl    243
5       META    Sarah    350

In [26]:
groups = df.groupby('Company')

In [30]:
groups['Sales'].sum()

Company
GOOGLE       320
META         593
MICROSOFT    464
Name: Sales, dtype: int64